{% extends 'app/base.html' %}

{% block body %}

{% load django_bootstrap5 %}

<div class="twelve">
    <h1 style="text-align: center;">Booking Page</h1>
</div>

<div class="mx-auto col-10 col-md-8 col-lg-6" ">

    <form method="post" style="align-content: center;">

        {% csrf_token %}

        {% bootstrap_form form %}
        <div class="col-md-12 text-center">
        <button class=" btn btn-primary is-success is-fullwidth is-medium mt-5" type="submit">Book

        </button>
        </div>
    </form>

    {% if message %}
    <h1>{{ message }}</h1>
    {% endif %}
</div>

{% endblock %}